@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: hsl(0, 0%, 96%);
    --accent: hsl(240 4.8% 95.9%);
    --primary: hsl(240, 10%, 10%);
    --foreground: hsl(0 0% 100% 0.8);
    --muted-border: hsl(220, 13%, 91%);
    --muted-faded: hsl(0, 0%, 96%, 0.5);
    --muted-background: hsl(240, 10%, 4%);
    --accent-foreground: hsl(240 5.9% 10%);
    --muted-foreground: hsl(240 3.8% 46.1%);
  }

  body {
    color: var(--muted-background);
  }

  .shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }

  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }

  .transition-colors {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  .blurify {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.707);
  }

  .table-header {
    @apply flex flex-row justify-start items-center font-medium text-[var(--muted-foreground)];
  }

  .table-body {
    @apply flex flex-row justify-start items-center font-medium text-[var(--muted-background)];
  }

  .modal-form-input {
    @apply flex h-10 w-full rounded-md border px-3 py-2 text-sm bg-white focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 col-span-3;
  }

  .modal-save {
    @apply mt-[1rem] inline-flex items-center justify-end justify-self-end whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-60 bg-[var(--primary)] text-white hover:bg-[#17171c]/90 max-w-fit h-10 px-4 py-2;
  }

  .panel-input {
    @apply flex rounded-md border border-[var(--muted-border)] bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-[var(--muted-foreground)] focus-visible:outline-none focus-visible:ring-1 ring-gray-400 disabled:cursor-not-allowed disabled:opacity-50 h-8 w-[350px];
  }

  .pagination-button {
    @apply items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 border border-[var(--muted-border)] bg-transparent shadow-sm hover:bg-[var(--accent)] hover:text-black h-8 w-8 p-0 flex;
  }
}
